<div class="forgot-password container">
    <div class="main-container">
        <h1 class="text-center">Forgot Your Password?</h1>
        <div class="row">
            <p>A password reset link will be sent to email address corresponding to your account.</p>
        </div>
        <form #forgotPassword="ngForm" name="forgot-password-form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': forgotPasswordEmail.errors && (forgotPasswordEmail.dirty || forgotPasswordEmail.touched)}">
                        <label for="email">Email Address <small>Required</small></label>
                        <input type="email"
                               email="true"
                               class="form-control"
                               id="email"
                               focus="true"
                               [(ngModel)]="email"
                               name="email"
                               #forgotPasswordEmail="ngModel"
                               required>
                        <div class="text-danger" *ngIf="forgotPasswordEmail.errors && (forgotPasswordEmail.dirty || forgotPasswordEmail.touched)">
                            <div [hidden]="!forgotPasswordEmail.errors.required">Email is required</div>
                            <div [hidden]="!forgotPasswordEmail.errors.email || !email">Must be a proper email address</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Submit Password Reset Request</button>
                </div>
            </div>
        </form>
    </div>
</div>
