<div class="nav-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-7">
                <div class="logo">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="title" routerLink="/home">Goal Tending</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <em>Make your goals and stick to 'em!</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2">
                <button *ngIf="!loggedIn()" type="button" class="btn btn-link hidden-xs register-button" routerLink="/register">New Account!</button>
            </div>
            <div class="col-sm-2 col-md-2">
                <button *ngIf="!loggedIn()" type="button" class="btn btn-default hidden-xs register-button pull-right" routerLink="/login">Login</button>
            </div>
            <div class="col-xs-1 col-sm-2 col-md-1">
                <div class="profile-info" dropdown placement="bottom right">
                    <img [src]="profilePicture || 'assets/images/emptyProfile.png'" maxwidth="20px" maxheight="20px" dropdownToggle>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem"><a class="dropdown-item text-right" routerLink="/home">Home</a></li>
                        <li *ngIf="loggedIn()" role="menuitem"><a class="dropdown-item text-right" routerLink="/profile">My Profile</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li *ngIf="!loggedIn()" role="menuitem"><a class="dropdown-item text-right" routerLink="/login">Sign In</a>
                        <li *ngIf="!loggedIn()" role="menuitem"><a class="dropdown-item text-right" routerLink="/register">Register New Account</a>
                        <li *ngIf="loggedIn()" role="menuitem"><a class="dropdown-item text-right" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loggedIn()" class="container">
        <ul class="nav nav-tabs">
            <li role="presentation" class="cursor-pointer" routerLinkActive="active"><a routerLink="/home">Home</a></li>
            <li role="presentation" class="cursor-pointer" routerLinkActive="active"><a routerLink="/goals">Goals</a></li>
            <li role="presentation" class="cursor-pointer" routerLinkActive="active"><a routerLink="/contact">Contact</a></li>
        </ul>
    </div>
</div>
