.goals-list {
    .add-goal-button {
        background-color: #7aba7a;
        border-radius: 50%;
        color: white;
        cursor: pointer;
        font-size: 30px;
        height: 50px;
        position: absolute;
        right: 30px;
        text-align: center;
        top: -31px;
        width: 50px;
    }
}
