<div class="goals-list">
    <div class="container">
        <h3>Goals</h3>
        <div class="main-container">
            <div class="add-goal-button" routerLink="/goals/new">+</div>
            <div class="row">
                <div class="col-xs-12">
                    <div *ngIf="goals.length === 0" class="text-center"><em>You have not set any goals yet</em></div>
                    <div class="list-page-item" *ngFor="let goal of goals; let i = index" routerLink="/goals/{{goal._id}}">
                        <div class="row">
                            <div class="col-xs-10 col-sm-11">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="truncate goal text-primary">
                                            {{goal.description}}
                                        </div>
                                    </div>
                                </div>
                                <ul>
                                    <li *ngFor="let subgoal of goal.subgoals; let j = index" class="truncate subgoal text-muted">
                                        {{subgoal.description}}
                                    </li>
                                </ul>
                            </div>
                            <div class="col-xs-2 col-sm-1">
                                <i tabindex="0" class="fa fa-trash fa-lg delete-goal text-info pull-right" (click)="$event.stopPropagation(); removeGoal(i)"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
