<div class="homepage">
    <div class="container">
        <div class="main-container">
            <div class="row mb-40">
                <div class="col-xs-12">
                    <h1 class="text-center homepage-header">Welcome to Your New Goals Headquarters!</h1>
                </div>
            </div>
            <div class="row mb-40">
                <div class="col-sm-6 hidden-xs">
                    <img src="assets/images/plan.jpg" class="homepage-image">
                </div>
                <div class="col-xs-12 col-sm-6 homepage-text">
                    Goal Tending is a place to tend to your goals.  If you're like me, you have an easy time thinking of goals for yourself, but a
                    hard time keeping track of them.  I made this site to both improve my development skills, but also as a place I could keep
                    track of the things I set out to do.  This is a free service to anybody who wants to use it, so feel free to create a profile
                    and use this application as you please!
                </div>
            </div>
            <div class="row mb-40">
                <div class="col-xs-12 col-sm-6 homepage-text">
                    This application is currently in its MVP stage, which stands for Minimum Viable Product.  This application was released with
                    the essentials to make it functional and useful. I plan to add more and more features, as
                    well as add additional testing done on this page to increase performance and reliability.  If you come across a problem on the page,
                    please feel free to email me via the contact page visible once you make a profile.
                </div>
                <div class="col-sm-6 hidden-xs">
                    <img src="assets/images/MVP.jpg" class="homepage-image">
                </div>
            </div>
            <div class="row mb-40">
                <div class="col-sm-6 hidden-xs">
                    <img src="assets/images/comingSoon.jpg" class="homepage-image">
                </div>
                <div class="col-xs-12 col-sm-6 homepage-text">
                    Here is a list of some of the new features I'd like to add on to this application...
                    <ul>
                        <li>Accomplishment badges for completing your goals</li>
                        <li>Charts to keep track of how many goals you are completing and how long it usually takes</li>
                        <li>Filtering on the goals list page so you can easily get to the goal you are looking for</li>
                        <li>Sorting on the goals list page to make it that much easier</li>
                        <li>Due dates for each goal</li>
                        <li>Email notifications</li>
                    </ul>
                </div>
            </div>
            <div class="row mb-40">
                <div class="col-xs-12 homepage-text">
                    Goal tending was created using the MEAN stack (MongoDB, Express framework, Angular, and Node).  I used Bootstrap for the styling, and
                    Angular CLI to get the app started.  The backend API lives in a separate repository.  If you are interested in seeing the source code
                    for this application, you can see it <a href="https://github.com/gotnoskillz412">here!</a>
                </div>
            </div>
        </div>
    </div>
</div>
