<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" (click)="close()">&times;</button>
            <h4 class="modal-title">{{title || 'Update Your Password'}}</h4>
        </div>
        <div class="modal-body">
            <form #updatePasswordModalForm="ngForm" name="update-password-modal-form">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [ngClass]="{'has-error': oldPassword.errors && (oldPassword.dirty || oldPassword.touched)}">
                            <label for="old-password">Current Password <small>Required</small></label>
                            <input type="password"
                                   class="form-control"
                                   id="old-password"
                                   [(ngModel)]="passwords.oldPassword"
                                   name="old-password"
                                   #oldPassword="ngModel"
                                   required>
                            <div class="text-danger" *ngIf="oldPassword.errors && (oldPassword.dirty || oldPassword.touched)">
                                <div [hidden]="!oldPassword.errors.required">Current Password is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [ngClass]="{'has-error': newPassword.errors && (newPassword.dirty || newPassword.touched)}">
                            <label for="new-password">New Password <small>Required</small></label>
                            <small>Must at least 8 characters and
                                contain one lowercase letter, one uppercase letter, and one number/special character</small>
                            <input type="password"
                                   class="form-control"
                                   id="new-password"
                                   [(ngModel)]="passwords.newPassword"
                                   name="new-password"
                                   maxlength="30"
                                   pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"
                                   #newPassword="ngModel"
                                   required>
                            <div class="text-danger" *ngIf="newPassword.errors && (newPassword.dirty || newPassword.touched)">
                                <div [hidden]="!newPassword.errors.required">New Password is required</div>
                                <div [hidden]="!newPassword.errors.maxlength">Password cannot be greater than 30 characters</div>
                                <div [hidden]="!newPassword.errors.pattern">Password does not meet requirements</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [ngClass]="{'has-error': confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)}">
                            <label for="confirm-password">Confirm Password <small>Required</small></label>
                            <input type="password"
                                   class="form-control"
                                   id="confirm-password"
                                   [(ngModel)]="passwords.confirmPassword"
                                   name="confirm-password"
                                   #confirmPassword="ngModel"
                                   sfhValidateEqual="newPassword"
                                   required>
                            <div class="text-danger" *ngIf="confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)">
                                <div [hidden]="!confirmPassword.errors.required">Confirm Password is required</div>
                                <div [hidden]="confirmPassword.errors.sfhValidateEqual">Must match password</div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
            <button type="button" class="btn btn-default" (click)="close()">Cancel</button>
        </div>
    </div>
</div>
