<div class="goals-form">
    <div class="container">
        <div *ngIf="goal._id"><h3>Edit Goal</h3></div>
        <div *ngIf="!goal._id"><h3>New Goal</h3></div>
        <div class="main-container">
            <form name="goal-form" #goalForm="ngForm" (ngSubmit)="saveGoal()">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group" [ngClass]="{'has-error': goalDescription.errors && (goalDescription.dirty || goalDescription.touched)}">
                            <label for="goal-description">Description</label>
                            <textarea id="goal-description"
                                      name="goal-description"
                                      maxlength="2000"
                                      #goalDescription="ngModel"
                                      class="form-control"
                                      autofocus
                                      [(ngModel)] = goal.description
                                      required>
                            </textarea>
                            <div class="text-danger" *ngIf="goalDescription.errors && (goalDescription.dirty || goalDescription.touched)">
                                <div [hidden]="!goalDescription.errors.required">Description is required</div>
                                <div [hidden]="!goalDescription.errors.maxlength">Description cannot be longer than 2000 characters</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>Subgoals</label>
                    </div>
                </div>
                <div class="subgoals" *ngFor="let subgoal of goal.subgoals; let i = index">
                    <div class="row">
                        <div class="col-xs-11">
                            <div class="form-group">
                                <input class="form-control"
                                       name="subgoal_{{i}}"
                                       [(ngModel)]="goal.subgoals[i].description"
                                       #subgoal{{i}}="ngModel"
                                       (keydown.enter)="$event.preventDefault();">
                            </div>
                        </div>
                        <div class="col-xs-1">
                            <i tabindex="0" class="fa fa-trash" (click)="removeSubgoal(i)"></i>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-link" (click)="addSubgoal()">Add Subgoal</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3 col-sm-2 col-md-1">
                        <button type="submit" class="btn btn-primary save-goal-button">SAVE</button>
                    </div>
                    <div class="col-xs-3 col-sm-2 col-md-1">
                        <button type="button" class="btn btn-link save-goal-button" routerLink="/goals">Cancel</button>
                    </div>
                    <div class="col-xs-6 col-sm-8 col-md-10">
                        <button type="button" class="btn btn-link delete-goal-button pull-right" (click)="removeGoal()">DELETE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
