<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="business-hours">
        <p><strong>Business Hours</strong></p>
        <div class="days"><em>Monday - Thursday:</em><span class="pull-right">8:00AM - 5:00PM</span></div>
        <div class="days"><em>Friday:</em><span class="pull-right">9:00AM - 4:00PM</span></div>
        <div class="days"><em>Saturday:</em><span class="pull-right">10:00AM - 4:00PM</span></div>
        <div class="days"><em>Sunday:</em><span class="pull-right">Closed</span></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p><strong>Contact Us</strong></p>
      <div class="contact-info">
        <span><strong>Phone:  </strong></span>
        <span>+1 (555) 867-5309</span>
      </div>
      <div class="contact-info">
        <span><strong>Email:  </strong></span>
        <span>youremailhere@thisplace.com</span>
      </div>
    </div>
  </div>
</div>
