<div class="container">
    <div class="main-container">
        <div *ngIf="!emailFailed && !emailSuccess">
            <div class="row">
                <div class="col-xs-12">
                    <div class="email-section">
                        <p><strong>Send Us An Email!</strong></p>
                        <form (ngSubmit)="onSubmit()" #emailForm="ngForm">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" [ngClass]="{'has-error': contactName.errors && (contactName.dirty || contactName.touched)}">
                                        <label for="contact-name">Name</label>
                                        <input type="text"
                                               class="form-control"
                                               id="contact-name"
                                               [(ngModel)]="model.name"
                                               name="contact-name"
                                               #contactName="ngModel"
                                               required>
                                        <div class="text-danger" *ngIf="contactName.errors && (contactName.dirty || contactName.touched)">
                                            <div [hidden]="!contactName.errors.required">Name is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" [ngClass]="{'has-error': contactEmail.errors && (contactEmail.dirty || contactEmail.touched)}">
                                        <label for="contact-email">Email</label>
                                        <input type="email"
                                               class="form-control"
                                               id="contact-email"
                                               [(ngModel)]="model.email"
                                               name="contact-email"
                                               #contactEmail="ngModel"
                                               required>
                                        <div class="text-danger" *ngIf="contactEmail.errors && (contactEmail.dirty || contactEmail.touched)">
                                            <div [hidden]="!contactEmail.errors.required">Email is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group" [ngClass]="{'has-error': contactMessage.errors && (contactMessage.dirty || contactMessage.touched)}">
                                        <label for="contact-message">Message</label>
                                        <textarea type="text"
                                                  class="form-control"
                                                  id="contact-message"
                                                  [(ngModel)]="model.message"
                                                  name="contact-message"
                                                  #contactMessage="ngModel"
                                                  required>
                                        </textarea>
                                        <div class="text-danger" *ngIf="contactMessage.errors && (contactMessage.dirty || contactMessage.touched)">
                                            <div [hidden]="!contactMessage.errors.required">A message is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-2">
                                    <button type="submit" class="btn btn-primary">Send</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="emailSuccess && !emailFailed">
            <p class="text-info">Thank you for sending us an email! We will respond to the email address you provided as
                soon as we can!</p>
            <button class="btn btn-primary" type="button" (click)="showContactInfo()">Return</button>
        </div>
        <div *ngIf="!emailSuccess && emailFailed">
            <p class="text-warning">We're sorry, we were unable to send your message. Please try again!</p>
            <button class="btn btn-primary" type="button" (click)="showContactInfo()">Return</button>
        </div>
    </div>
</div>
