<div class="nav-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-11">
                <div class="logo">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 class="title" routerLink="/home">#SquadGoals</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <em>Make your goals and stick to 'em!</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-1">
                <div class="profile-info" dropdown placement="bottom right">
                    <img [src]="profilePicture || '../../../assets/images/emptyProfile.png'" maxwidth="20px" maxheight="20px" dropdownToggle>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem"><a class="dropdown-item text-right" routerLink="/home">Dashboard</a></li>
                        <li *ngIf="loggedIn()" role="menuitem"><a class="dropdown-item text-right" routerLink="/profile">My Profile</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li *ngIf="!loggedIn()" role="menuitem"><a class="dropdown-item text-right" routerLink="/login">Sign In</a>
                        <li *ngIf="loggedIn()" role="menuitem"><a class="dropdown-item text-right" (click)="logout()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
