<div class="password-reset container">
    <div class="main-container">
        <h1 class="text-center">Reset Your Password</h1>
        <form #resetPassword="ngForm" name="reset-password-form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': resetPassword.errors && (resetPassword.dirty || resetPassword.touched)}">
                        <label for="reset-password">New Password <small>Required</small></label>
                        <input type="password"
                               class="form-control"
                               id="reset-password"
                               focus="true"
                               [(ngModel)]="model.password"
                               name="reset-password"
                               maxlength="30"
                               pattern="(?=^.{8,}$)(((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z])).*$"
                               #resetPassword="ngModel"
                               required>
                        <div class="text-danger" *ngIf="resetPassword.errors && (resetPassword.dirty || resetPassword.touched)">
                            <div [hidden]="!resetPassword.errors.required">Password is required</div>
                            <div [hidden]="!resetPassword.errors.maxlength">Password cannot be greater than 30 characters</div>
                            <div [hidden]="!resetPassword.errors.pattern">Password does not meet requirements</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                    <div class="form-group" [ngClass]="{'has-error': resetPasswordVerify.errors && (resetPasswordVerify.dirty || resetPasswordVerify.touched)}">
                        <label for="reset-password-verify">Verify New Password <small>Required</small></label>
                        <input type="password"
                               class="form-control"
                               id="reset-password-verify"
                               [(ngModel)]="model.confirmPassword"
                               name="reset-password-verify"
                               #resetPasswordVerify="ngModel"
                               sfhValidateEqual="reset-password"
                               required>
                        <div class="text-danger" *ngIf="resetPasswordVerify.errors && (resetPasswordVerify.dirty || resetPasswordVerify.touched)">
                            <div [hidden]="!resetPasswordVerify.errors.required">Confirm Password is required</div>
                            <div [hidden]="resetPasswordVerify.errors.sfhValidateEqual">Must match password</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary">Submit New Password</button>
                </div>
            </div>
        </form>
    </div>
</div>
