<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="hidden-xs col-sm-4">
                    <div class="row">
                        <div class="col-xs-12">
                            <!--profile pic -->
                            <img [src]="data.image || '../../../assets/images/emptyProfile.png'" class="profile-picture"
                                 (click)="openDialog()"><br>
                            <button type="button" class="btn btn-default center-block" (click)="openDialog()">Update Profile Picture</button>
                        </div>
                    </div>
                    <!--Selection Links-->
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-link" (click)="loadAboutMeInfo()">About Me</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <button type="button" class="btn btn-link" (click)="loadSecurityInfo()">Security</button>
                        </div>
                    </div>
                </div>
                <div class="visible-xs col-xs-12"dropdown placement="bottom left">
                    <i class="fa fa-bars" dropdownToggle></i>
                    <ul *dropdownMenu class="dropdown-menu dropdown-menu-left" role="menu">
                        <li role="menuitem"><a class="dropdown-item text-left" (click)="loadAboutMeInfo()">About Me</a>
                        <li role="menuitem"><a class="dropdown-item text-left" (click)=loadSecurityInfo()>Security</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-8">
                    <!--profile information-->
                    <div *ngIf="infoSection === sections.aboutMe">
                        <form (ngSubmit)="updateProfile()" #aboutMeForm="ngForm" name="about-me-form" >
                            <!--First Name-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="profile-firstName">First Name</label>
                                        <input class="form-control profile-firstName"
                                                  name="profile-firstName"
                                                  id="profile-firstName"
                                                  [(ngModel)]="profile.firstName"
                                                  maxlength="50"
                                                  (keydown.enter)="$event.preventDefault();"/>
                                    </div>
                                </div>
                            </div>
                            <!--Last Name-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="profile-lastName">Last Name</label>
                                        <input class="form-control profile-lastName"
                                               name="profile-lastName"
                                               id="profile-lastName"
                                               [(ngModel)]="profile.lastName"
                                               maxlength="50"
                                               (keydown.enter)="$event.preventDefault();"/>
                                    </div>
                                </div>
                            </div>
                            <!--Description-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="profile-description">Tell us about yourself!</label>
                                        <textarea class="form-control profile-description"
                                                  name="profile-description"
                                                  id="profile-description"
                                                  [(ngModel)]="profile.description"
                                                  maxlength="2000">
                                    </textarea>
                                    </div>
                                </div>
                            </div>
                            <!--Likes-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <div class="form-group">
                                                <label for="profile-likes">What do you like?</label>
                                                <input id="profile-likes" #newLike maxlength="20"
                                                       (keyup.enter)="addLike(newLike.value); newLike.value = null"
                                                       (keydown.enter)="$event.preventDefault();">
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <button type="button" class="btn btn-default add-like-button" (click)="addLike(newLike.value); newLike.value = null">Add</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-10">
                                            <sfh-tags *ngFor="let like of profile.likes; let i = index"
                                                      [tag]="like" [onRemove]="removeLike()" [index]="i">
                                            </sfh-tags>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row profile-save-button">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button [disabled]="saving" type="submit" class="btn btn-primary" (click)="updateProfile()">SAVE</button>
                                    </div>
                                </div>
                            </div>
                            <!--Location (Possibly use ng2-address)-->
                        </form>
                    </div>
                    <div *ngIf="infoSection === sections.security">
                        <form #securitySection="ngForm" name="security-form">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email"
                                               name="email"
                                               class="form-control"
                                               maxlength="50"
                                               [(ngModel)]="account.email"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <label for="username">Username</label>
                                        <input id="username"
                                               name="username"
                                               class="form-control"
                                               maxlength="50"
                                               [(ngModel)]="account.username"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-secondary" (click)="openPasswordModal()">Update Password</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!--Update Password-->
                            <!--Probably use modal with confirm info-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
